#title{
padding-top: 5px;
}
#headimg{
	width:100%;
	height:250px;
	position:relative;
}
#comName{
position: relative;
bottom: 100px;

}
#icon{
position: relative;
bottom: 220px;
}
#iconFile{
	position: relative;
	bottom: 100px;
	margin-left: 15px;
}
#headerFile{
	position: relative;
	bottom: 22px;
}

#userimage{
width:40%;
height:10%;
}

#date{
padding-top: 50px;
}
#topicIcon{
width:70px;
height:70px;
}

#topiclist{
border: medium solid #ff00ff;
}
#createtopic{
padding-top: 20px;
}
#joincom{
border: medium solid #ff00ff;
}
#slide{
	height:30px;
}
#showwdel{
width:100px;
height:50px;
margin-top: 10px;
}


#editButton{
	position: relative;
	bottom: 85px;
	font-size: 15px;
}

#userimage{
width:40%;
height:10%;
}
#communityList{
border: medium solid #B22222;
}

.changeEffectHead{
	position:absolute;
	top:60px;
	left:0px;
	width:100%;
	height:250px;
	font-size: 45px;
	text-align: right;
	vertical-align: middle;
	color: #fff;


}
.changeEffectHead:hover{
	box-shadow: 0 0 0 8px #CCC inset ;
	cursor: pointer;
	background-color: rgba(0,0,0,0.3);
}

.changeEffectIcon{
	position:absolute;
	margin-top:	-110px;
	left:65px;
	width:130px;
	height:100%;
	font-size: 23px;
	color: #fff;
}
.changeEffectIcon:hover{
	box-shadow: 0 0 0 8px #CCC inset;
	cursor: pointer;
	background-color: rgba(0,0,0,0.3);
}
#changeEffectIconText{
	text-align: center;
	margin-top: 20px;
}

#headerText{
	margin-right: 850px;
	margin-top: 110px;
}
