.footer{
	margin-top: 20px;
	position: absolute;
	margin-bottom: 0px;
	width: 100%;
	background-color: #ddd
}

#twitter_icon{
	float:left;
	width:110px;
	padding:0px;
	margin:0px;
	border:0px;
}
#facebook_icon{
	float:left;
	width:110px;
	padding:0px;
	margin:0px;
	border:0px;
}

#contact-modal{
	margin-top: 50px;
}

#mobileContactTitle{
	margin-top:5px;
	margin-bottom:5px;
}