#title{
padding-top: 10px;
}
#headimg{
width:100%;
height:30%;
}
#comname{
position: relative;
bottom: 100px;
background-color: rgba(255,255,255,0.7);
}
#icon{
position: relative;
bottom: 200px;
}

#userimage{
width:40%;
height:10%;
}
#date{
padding-top: 50px;
}
#topicIcon{
width:70px;
height:70px;
}

#topiclist{
border: medium solid #ff00ff;
}
#createtopic{
padding-top: 20px;
}