<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
   <!-- ランディングページ -->
   <welcome-file-list>
     <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
   </welcome-file-list>

   <!-- 共通設定 -->
   <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jsp/config.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>

   <!-- Servlet&JSP -->
   <servlet>
      <servlet-name>index</servlet-name>
      <jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
      <servlet-name>index</servlet-name>
      <url-pattern>/index</url-pattern>
   </servlet-mapping>

	<servlet>
      <servlet-name>chat</servlet-name>
      <jsp-file>/WEB-INF/jsp/chat.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
      <servlet-name>chat</servlet-name>
      <url-pattern>/chat</url-pattern>
   </servlet-mapping>



   <servlet>
      <servlet-name>FrontServlet</servlet-name>
      <servlet-class>ttc.FrontServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>FrontServlet</servlet-name>
      <url-pattern>/front/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>UploadServlet</servlet-name>
      <servlet-class>ttc.FileUploadServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>UploadServlet</servlet-name>
      <url-pattern>/upload/*</url-pattern>
   </servlet-mapping>

   <servlet>
       <servlet-name>signup</servlet-name>
       <jsp-file>/WEB-INF/jsp/signup.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>signup</servlet-name>
       <url-pattern>/sign</url-pattern>
   </servlet-mapping>

   <servlet>
       <servlet-name>articlepost</servlet-name>
       <jsp-file>/WEB-INF/jsp/articlepost.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>articlepost</servlet-name>
       <url-pattern>/articlepost</url-pattern>
   </servlet-mapping>

   <servlet>
        <servlet-name>login</servlet-name>
       <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>login</servlet-name>
       <url-pattern>/login</url-pattern>
   </servlet-mapping>

   <servlet>
       <servlet-name>adminlogin</servlet-name>
       <jsp-file>/WEB-INF/jsp/adminlogin.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>adminlogin</servlet-name>
       <url-pattern>/adminlogin</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>adminloginresult</servlet-name>
      <jsp-file>/WEB-INF/jsp/adminloginResult.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
      <servlet-name>adminloginresult</servlet-name>
      <url-pattern>/adminloginresult</url-pattern>
   </servlet-mapping>

   <servlet>
  	 <servlet-name>reset</servlet-name>
  	 <jsp-file>/WEB-INF/jsp/reset.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
  	 <servlet-name>reset</servlet-name>
  	 <url-pattern>/reset</url-pattern>
   </servlet-mapping>

	<servlet>
       <servlet-name>dmsend</servlet-name>
       <jsp-file>/WEB-INF/jsp/dmsend.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>dmsend</servlet-name>
       <url-pattern>/dmsend</url-pattern>
   </servlet-mapping>
    <servlet>
        <servlet-name>chatwrite</servlet-name>
        <jsp-file>/WEB-INF/jsp/chatwrite.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>chatwrite</servlet-name>
        <url-pattern>/chatwrite</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createcomm</servlet-name>
        <jsp-file>/WEB-INF/jsp/CreateCommunity.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createcomm</servlet-name>
        <url-pattern>/createcomm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>commmem</servlet-name>
        <jsp-file>/WEB-INF/jsp/communityMembers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>commmem</servlet-name>
        <url-pattern>/joincomm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>withDrawComm</servlet-name>
        <jsp-file>/WEB-INF/jsp/withDrawComm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>withDrawComm</servlet-name>
        <url-pattern>/withDrawComm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>commMy</servlet-name>
        <jsp-file>/WEB-INF/jsp/showmycomm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>commMy</servlet-name>
        <url-pattern>/commMy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>commset</servlet-name>
        <jsp-file>/WEB-INF/jsp/communitySetting.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>commset</servlet-name>
        <url-pattern>/commsetting</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>my</servlet-name>
        <jsp-file>/WEB-INF/jsp/mypage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>my</servlet-name>
        <url-pattern>/mypage</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>topic</servlet-name>
        <jsp-file>/WEB-INF/jsp/topic.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>topic</servlet-name>
        <url-pattern>/topic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createtopic</servlet-name>
        <jsp-file>/WEB-INF/jsp/createTopic.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createtopic</servlet-name>
        <url-pattern>/createtopic</url-pattern>
    </servlet-mapping>


   <servlet>
      <servlet-name>createcom</servlet-name>
      <jsp-file>/WEB-INF/jsp/createcommunity.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>createcom</servlet-name>
      <url-pattern>/createcom</url-pattern>
  </servlet-mapping>

   <servlet>
      <servlet-name>tagsearch</servlet-name>
      <jsp-file>/WEB-INF/jsp/tag_search_test.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>tagsearch</servlet-name>
      <url-pattern>/tagsearch</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>tagsearch_show</servlet-name>
     <jsp-file>/WEB-INF/jsp/TagSearchShow_test.jsp</jsp-file>
 </servlet>
 <servlet-mapping>
     <servlet-name>tagsearch_show</servlet-name>
     <url-pattern>/tagsearch_show</url-pattern>
 </servlet-mapping>


	<servlet>
        <servlet-name>setting1</servlet-name>
        <jsp-file>/WEB-INF/jsp/uesrSetting.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>setting1</servlet-name>
        <url-pattern>/userSetting</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>blogDelete</servlet-name>
        <jsp-file>/WEB-INF/jsp/blogDelete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>blogDelete</servlet-name>
        <url-pattern>/blogDelete</url-pattern>
    </servlet-mapping>


    <!-- <servlet>
        <servlet-name>tagsearch</servlet-name>
        <jsp-file>/WEB-INF/jsp/tag_search_test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tagsearch</servlet-name>
        <url-pattern>/tagsearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tagsearch_show</servlet-name>
        <jsp-file>/WEB-INF/jsp/TagSearchShow_test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tagsearch_show</servlet-name>
        <url-pattern>/tagsearch_show</url-pattern>
    </servlet-mapping> -->

    <servlet>
        <servlet-name>webtes</servlet-name>
        <jsp-file>/WEB-INF/jsp/webTest.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>webtes</servlet-name>
        <url-pattern>/webtes</url-pattern>
    </servlet-mapping>

	<servlet>
    	<servlet-name>blogcreate</servlet-name>
    	<jsp-file>/WEB-INF/jsp/openBlog.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>blogcreate</servlet-name>
	    <url-pattern>/openBlog</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>blogsetting</servlet-name>
		<jsp-file>/WEB-INF/jsp/blogSetting.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>blogsetting</servlet-name>
		<url-pattern>/blogSetting</url-pattern>
	</servlet-mapping>

    <servlet>
		<servlet-name>top</servlet-name>
		<jsp-file>/WEB-INF/jsp/top.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>top</servlet-name>
		<url-pattern>/top</url-pattern>
	</servlet-mapping>

    <servlet>
		<servlet-name>compos</servlet-name>
		<jsp-file>/WEB-INF/jsp/commentPost.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>compos</servlet-name>
		<url-pattern>/commentpost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showarticle</servlet-name>
		<jsp-file>/WEB-INF/jsp/showArticle.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>showarticle</servlet-name>
		<url-pattern>/showArticle</url-pattern>
	</servlet-mapping>

    <servlet>
		<servlet-name>showarticlelist</servlet-name>
		<jsp-file>/WEB-INF/jsp/showArticleList.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>showarticlelist</servlet-name>
		<url-pattern>/showArticleList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>search</servlet-name>
		<jsp-file>/WEB-INF/jsp/search.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

    <servlet>
		<servlet-name>draftarticle</servlet-name>
		<jsp-file>/WEB-INF/jsp/draftArticle.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>draftarticle</servlet-name>
		<url-pattern>/draftArticle</url-pattern>
	</servlet-mapping>


    <servlet>
        <servlet-name>comdel</servlet-name>
        <jsp-file>/WEB-INF/jsp/commentdelete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>comdel</servlet-name>
        <url-pattern>/commentdelete</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>showTopic</servlet-name>
        <jsp-file>/WEB-INF/jsp/showTopic.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>showTopic</servlet-name>
        <url-pattern>/showTopic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editarticle</servlet-name>
        <jsp-file>/WEB-INF/jsp/editArticle.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editarticle</servlet-name>
        <url-pattern>/editArticle</url-pattern>
    </servlet-mapping>

	<servlet>
       <servlet-name>policy</servlet-name>
       <jsp-file>/WEB-INF/jsp/showPolicy.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>policy</servlet-name>
       <url-pattern>/showPolicy</url-pattern>
   </servlet-mapping>

	<servlet>
       <servlet-name>rule</servlet-name>
       <jsp-file>/WEB-INF/jsp/showRule.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>rule</servlet-name>
       <url-pattern>/showRule</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>withdraw</servlet-name>
      <jsp-file>/WEB-INF/jsp/withdraw.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>withdraw</servlet-name>
      <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>

   <!-- エラーページ -->
   <!-- <error-page>
      <error-type>javax.servlet.ServletException</error-type>
      <location>/error.jsp</location>
   </error-page>
   <error-page>
      <error-code>404</error-code>
      <location>/error.jsp</location>
   </error-page> -->


   <!-- フィルター -->

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/mypage</url-pattern>
        <url-pattern>/front/mypage</url-pattern>
    </filter-mapping>

</web-app>
